<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools" package="com.watchfacedesigns.Concentric" android:versionCode="10000017" android:versionName="1.1.1">
	<uses-feature android:name="android.hardware.type.watch" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-sdk android:minSdkVersion="33" />
	<application android:label="@string/watch_face_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:hasCode="false">
		<property android:name="com.google.wear.watchface.format.version" android:value="1" />
		<meta-data android:name="com.google.android.wearable.standalone" android:value="true" />
	</application>
</manifest>